<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Detail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> Welcome <%= name %></h1>
        <h2> Email:  <%= email %></h2>
        <h2> Age:  <%= age %></h2>
        <h2> Password:  <%= password %></h2>
        <h2> Role:  <%= role %></h2>
    </body>
    </html>